__pycache__
test.py
predict_job_tag.pyc
app.pyc
predict_iris.pyc
portfolio
keys.py
.DS_Store
.ipynb_checkpoints
model/*
!projects/job_tag_classifier/model/new_model/*
projects/job_tag_classifier/model/new_model/classifier
projects/job_tag_classifier/model/new_model/doc2vec
*.pyc