    #Title {
        background-image: url("../refs/home_background_bluish.jpg");
        background-size: cover;
        padding-top: 150px;
        padding-bottom: 200px;
    }
    
    .nav-link {
        padding: 5px 10px;
    }
    
    .jumbotron {
        position: relative;
        overflow: hidden;
        min-width: 30vw;
        border: solid rgba(204, 204, 204, 0.1);
        border-width: 5px;
    }
    
    .jumbotron .container {
        position: relative;
        z-index: 2;
        color: #00000;
        background-color: rgba(204, 204, 204, 0.65);
        border-radius: 5px;
        padding: 5px;
    }
    
    .jumbotronSR:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../refs/jumbotron/srgan.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-filter: blur(2px);
        filter: blur(2px);
        width: 100%;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .jumbotronJobTag:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../refs/jumbotron/jobtag.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-filter: blur(2px);
        filter: blur(2px);
        width: 100%;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .jumbotronVoting:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../refs/jumbotron/politics.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-filter: blur(2px);
        filter: blur(2px);
        width: 100%;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .jumbotronWikipedia:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../refs/jumbotron/stocks.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-filter: blur(2px);
        filter: blur(2px);
        width: 100%;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .jumbotronPortfolio:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../refs/jumbotron/portfolio.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-filter: blur(2px);
        filter: blur(2px);
        width: 100%;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .jumbotronDeepfake:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../refs/jumbotron/logo.ico');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-filter: blur(2px);
        filter: blur(2px);
        width: 100%;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .jumbotronXeval:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../refs/jumbotron/xeval.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-filter: blur(2px);
        filter: blur(2px);
        width: 100%;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .jumbotronChess:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../refs/jumbotron/transformer.gif');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-filter: blur(2px);
        filter: blur(2px);
        width: 100%;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .jumbotronWebsites:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../refs/jumbotron/websites.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-filter: blur(2px);
        filter: blur(2px);
        width: 100%;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .jumbotronCooking:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../refs/jumbotron/fish_logo.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-filter: blur(2px);
        filter: blur(2px);
        width: 100%;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .jumbotronDND:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../refs/jumbotron/dnd.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-filter: blur(2px);
        filter: blur(2px);
        width: 100%;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .jumbotronTest:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../refs/jumbotron/testing.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-filter: blur(2px);
        filter: blur(2px);
        width: 100%;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }