/* ---------------------------------------------------- */
/* SPALSH PAGE CSS */
/* ---------------------------------------------------- */
#Header {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.87);
}

#Content {
    margin-top: 50px;
}

#Projects {
    padding-top: 50px;
}

#Resume {
    padding-top: 50px;
}

#Contact {
    padding-top: 50px;
}

#social_buttons {
    text-align: center;
}

#social {
    padding-bottom: 25px;
}

#spacer {
    width: 20px;
    height: auto;
    display: inline-block;
}

#padding {
    padding: 5px;
}

/* ---------------------------------------------------- */
/* IRIS PAGE CSS */
/* ---------------------------------------------------- */
#Iris_IO {
    padding-top: 100px;
    padding-bottom: 200px;
}

#Iris_Title_Text {
    top: 0;
    left: -5px;
    max-width: 500px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.37);
}

#Iris_Classes {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}

/* ---------------------------------------------------- */
/* JOB TAG PAGE CSS */
/* ---------------------------------------------------- */
#JOBTAG_IO {
    padding-top: 50px;
    padding-bottom: 50px;
}

#JOBTAG_Title_Text {
    top: 0;
    left: -5px;
    max-width: 500px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.57);
}

#JOBTAG_Classes {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#JOBTAG_padding {
    padding: 15px;
}

.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}
