<style>
    /* header navigation bar */
    .navigation-bar {
        margin: 0;
        padding: 5px;
        list-style-type: none;
        text-align: right;
        background-color: #000;
    }

    .navigation-bar li {
        display: inline;
    }

    .navigation-bar li a {
        text-decoration: none;
        padding: .2em 1em;
        color: #fff;
        background-color: #000;
    }

    .navigation-bar li a:hover {
        color: #000;
        background-color: #fff;
    }
</style>

<body>
    <!-- navigation bar -->
    <div class="navigation-bar">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="About.asp">About</a></li>
        <li><a href="Projects.asp">Projects</a></li>
        <li><a href="Contact.asp">Contact</a></li>
        <li><a href="Resume.asp">Resume</a></li>
    </div>
</body>
