<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Iris Classifier</title>
    {% include 'icon.html' %}

    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-social.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-table@1.15.2/dist/bootstrap-table.min.css" rel="stylesheet">

</head>

<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.2/dist/bootstrap-table.min.js"></script>

<style>
    #Title {
        background-image: url(static/refs/home_background_bluish.jpg);
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
    }
</style>

<body>
    <div class="container-fluid">
        <div id="Header" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="col-md-12">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Iris_IO">Project</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="Content" class="container-fluid">
        <div id="Title" class="row">
            <div id="Iris_Title_Text" class="col-md-12">
                <h1 style="color:black;">
                    Iris Classifier Ensemble
                </h1>
                <p style="max-width: 500px; color:black;">
                    A collection of classifiers used on the famous Iris dataset. This is perhaps the best known database to be found
                    in the pattern recognition literature. Fisher's paper is a classic in the field and is referenced frequently to this
                    day. The data set contains 3 classes of 50 instances each, where each class refers
                    to a type of iris plant. The ensemble takes the majority vote of the classifiers.
                    <ul style="color:black;">
                        <li> Support Vector Classifier (SVC) </li>
                        <li> Naive Bayes </li>
                        <li> Random Forest </li>
                        <li> K Nearest Neighbors </li>
                        <li> Neural Network </li>
                    </ul>
                </p>
            </div>
        </div>
        <div id="Iris_IO" class="row">
            <div class="col-md-4">
                <h2>
                    Data Input
                </h2>
                <p>
                    Feature 1: sepal length in cm </br>
                    Feature 2: sepal width in cm </br>
                    Feature 3: petal length in cm </br>
                    Feature 4: petal width in cm </br>

                    Classes: Iris Setosa, Iris Versicolour Iris Virginica
                </p>
                <p>
                    <div class="form-group">
                        <input class="form-control" id="f1" rows="1" cols="1" type="number" required="required"></input>
                        <div id="padding"></div>
                        <input class="form-control" id="f2" rows="1" cols="1" type="number" required="required"></input>
                        <div id="padding"></div>
                        <input class="form-control" id="f3" rows="1" cols="1" type="number" required="required"></input>
                        <div id="padding"></div>
                        <input class="form-control" id="f4" rows="1" cols="1" type="number" required="required"></input>
                        <div id="padding"></div>
                        <button class="btn btn-primary" type="submit" onclick="submit_iris_features()">Submit</button>
                        <button class="btn btn-primary" type="submit" onclick="randomize_iris_features();">Random</button>
                    </div>
                </p>
            </div>
            <div class="col-md-4">
                <div id="Iris_Classes">
                    <h1> <span id="Setosa" class="badge badge-primary">Setosa</span></h1>
                    <h1> <span id="Versicolour" class="badge badge-primary">Versicolour</span></h1>
                    <h1> <span id="Virginica" class="badge badge-primary">Virginica</span></h1>
                </div>
            </div>
            <div class="col-md-4">
                <table id="Iris_Table" data-toggle="table" class="table table-hover">
                    <thead>
                        <tr>
                            <th data-field="Name">Name</th>
                            <th data-field="Accuracy">Accuracy</th>
                            <th data-field="Guess">Guess</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><strong>Support Vector Classifier</strong></th>
                            <td>96.7 %</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"><strong>Naive Bayes</strong></th>
                            <td>95.3 %</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"><strong>Random Forest</strong></th>
                            <td>91.3 %</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"><strong>K Nearest Neighbors</strong></th>
                            <td>96.7 %</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"><strong>Neural Network</strong></th>
                            <td>98.0 %</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

</html>
