<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>

<script>
    window.onload = function() {
    // setup the button click
    document.getElementById("Description").onclick = function() {
        doWork()
    };
    }

    function doWork() {
        // grab the values
        var features = [{
            Feature_1: document.getElementById('text').value
        }];
        // ajax the JSON to the server
        $.ajax({
            type: 'POST',
            url: '/predict_tags',
            data: JSON.stringify(features),
            success: function(data) {
                display_result(data);
                return data;
            },
            contentType: "application/json",
            dataType: 'json'
        });
        // stop link reloading the page
        event.preventDefault();
    }

    function display_result(data) {
        document.getElementById('preds').innerHTML = 'test';
    }

</script>

<style>
    .Description{
        position: relative;
        left: 30px;
        top: 30px;

    }
</style>


<!-- navigation bar header -->
{% include 'header.html' %}

<div class="Description">
    <form id="text" method="POST">
        <textarea name="Description" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" rows="30" cols="60">
Input the Job Description here.
        </textarea>
        <br>
        <input id="Description" type="button" value="Submit">
        </br>
    </form>
</div>

<div id="preds">
nice
</div>

<!-- footer -->
{% include 'footer.html' %}
