<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Job Tag Classifier</title>
    {% include 'icon.html' %}

    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-social.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">

</head>

<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/scripts.js')}}"></script>


<style>
    #Title {
        background-image: url(static/refs/home_background_bluish.jpg);
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
    }
</style>

<body>
    <div class="container-fluid">
        <div id="Header" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="col-md-12">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#JOBTAG_IO">Project</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="Content" class="container-fluid">
        <div id="Title" class="row">
            <div id="JOBTAG_Title_Text" class="col-md-12">
                <h2 style="color:black;">
                    Job Tag Classifier
                    <button class="btn btn-primary btn-sm" onclick="window.open('https://github.com/mrciolino/Job-Tag-Classifier' + location.search)">Github</button>
                </h2>
                <p style="max-width: 500px; color:black;">
                    We take a job title and a job description and predict the tags associated with that job. We do this through Natural Language Processing (NLP), a Convolutional Autoencoder (AE), and a Deep Neural Network (DNN). This model will
                    train itself to become more accurate as more jobs are added by training it when new data is added. The model uses feature hashing which allows it to learn new words in the job descriptions.
                </p>
            </div>
        </div>
        <div id="JOBTAG_IO" class="row">
            <div class="col-md-6">
                <h2>
                    Data Input
                </h2>
                <p>
                    Enter the Job Title and Job Description
                </p>
                <p>
                    <div class="form-group">
                        <textarea class="form-control" id="job_title" rows="1" required="required">Product Manager, Google Cloud</textarea>
                        <div id="padding"></div>
                        <textarea class="form-control" id="job_description" rows="20" required="required">Note: By applying to this position your application is automatically submitted to the following locations: Mountain View, CA, USA; Cambridge, MA, USA; Kirkland, WA, USA; New York, NY, USA; Pittsburgh, PA, USA; Seattle, WA, USA; San Francisco, CA, USA; Sunnyvale, CA, USA; Austin, TX, USA
Minimum qualifications:

Bachelor’s degree in a technical field or equivalent experience building/shipping technical products.
Experience developing/launching products/technologies within one or more of the following: Cloud, SaaS, enterprise, internal tools, and/or complex supply chain networks.
Experience driving product vision, go-to-market strategy, and design discussions.
Experience creating strategic product roadmap(s) and working with cross-functional teams.

Preferred qualifications:

Experience managing day-to-day technical and design direction.
Experience in one or more of the following: Cloud infrastructure, software as a service, big data, security and privacy, development and operations, or artificial intelligence/machine learning.
Knowledge of multiple functional areas such as Product Management, Engineering, UX/UI, Sales, Customer Support, Finance or Marketing.
Ability to influence multiple stakeholders without direct authority.
About the job
At Google, we put our users first. The world is always changing so we need Product Managers who are continuously adapting and excited to work on products that affect millions of people every day.

In this role, you will work cross-functionally to guide products from conception to launch by connecting the technical and business worlds. You can break down complex problems into steps that drive product development at Google speed.

One of the many reasons Google consistently brings innovative, world-changing products to market is because of the collaborative work we do in Product Management. Our team works closely with creative and prolific engineers, designers, marketers, etc. to help design and develop technologies that improve access to the world's information. We're responsible for guiding products throughout the execution cycle, focusing specifically on analyzing, positioning, packaging, promoting, and tailoring our solutions to our users.
Google Cloud helps employees and organizations empower their employees, serve their customers, and build what’s next for their business — all with technology built in the cloud. As a Cloud Product Manager, you will help us deliver innovative cloud services at scale. You'll drive product strategy and partner closely with cross-functional teams to define and deliver on the next phase of cloud services. Additionally, you will develop product solutions, Mergers and Acquisitions (M&A), Go-to-Market, and business relationships to execute on the huge market potential and benefits possible from applying Google’s technologies in the enterprise market.

By applying to this role, you'll be considered for all teams working on Enterprise, including Google Cloud Platform, G Suite, Developer Product Group, Internal Tools.

Google aims to build products that organize the world's information and make it universally accessible to our users. As a Product Manager at Google, you could be working on new technologies, platforms, consumer facing products, and/or enterprise systems. The end goal will be to match you with the team that best aligns with your interests, experience, and where you will have the most impact.

Responsibilities
Understand the cloud ecosystem, markets, competition, and user requirements in depth.
Launch new products and features, test their performance, and iterate quickly.
Work collaboratively with Engineering, Marketing, Legal, UX, and other cross-functional teams on cutting edge technologies.
Develop innovative solutions to some of the world’s hardest problems by collaborating as needed across regions, product areas, and functions.
At Google, we don’t just accept difference—we celebrate it, we support it, and we thrive on it for the benefit of our employees, our products and our community. Google is proud to be an equal opportunity workplace and is an affirmative action employer. We are committed to equal employment opportunity regardless of race, color, ancestry, religion, sex, national origin, sexual orientation, age, citizenship, marital status, disability, gender identity or Veteran status. We also consider qualified applicants regardless of criminal histories, consistent with legal requirements. See also Google's EEO Policy and EEO is the Law. If you have a disability or special need that requires accommodation, please let us know by completing this form.</textarea>
                        <div id="padding"></div>
                        <button class="btn btn-primary" type="submit" onclick="submit_job_tag_features()">Submit</button>
                    </div>
                </p>
            </div>
            <div id="JOBTAG_Classes" class="col-md-6">
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" style="width:0%"></div>
                </div>
                <div>
                    <div id="JOBTAGS" class=row style="padding:15px;">
                        <h2 style="padding:15px;"> <span id="Product Manager" class="badge badge-secondary">Product Manager</span></h2>
                        <h2 style="padding:15px;"> <span id="Tech" class="badge badge-secondary">Tech</span></h2>
                        <h2 style="padding:15px;"> <span id="Software" class="badge badge-secondary">Software</span></h2>
                        <h2 style="padding:15px;"> <span id="Web" class="badge badge-secondary">Web</span></h2>
                        <h2 style="padding:15px;"> <span id="Sales" class="badge badge-secondary">Sales</span></h2>
                        <h2 style="padding:15px;"> <span id="Backend" class="badge badge-secondary">Backend</span></h2>
                        <h2 style="padding:15px;"> <span id="Recruiting" class="badge badge-secondary">Recruiting</span></h2>
                        <h2 style="padding:15px;"> <span id="Frontend" class="badge badge-secondary">Frontend</span></h2>
                        <h2 style="padding:15px;"> <span id="Designer" class="badge badge-secondary">Designer</span></h2>
                        <h2 style="padding:15px;"> <span id="Express" class="badge badge-secondary">Express.js</span></h2>
                        <h2 style="padding:15px;"> <span id="Full-Stack" class="badge badge-secondary">Full-Stack</span></h2>
                        <h2 style="padding:15px;"> <span id="React" class="badge badge-secondary">React</span></h2>
                        <h2 style="padding:15px;"> <span id="Customer Service" class="badge badge-secondary">Customer Service</span></h2>
                        <h2 style="padding:15px;"> <span id="Flask" class="badge badge-secondary">Flask</span></h2>
                        <h2 style="padding:15px;"> <span id="Angular" class="badge badge-secondary">Angular</span></h2>
                        <h2 style="padding:15px;"> <span id="Database" class="badge badge-secondary">Database</span></h2>
                        <h2 style="padding:15px;"> <span id="DynamoDB" class="badge badge-secondary">DynamoDB</span></h2>
                        <h2 style="padding:15px;"> <span id="Hardware" class="badge badge-secondary">Hardware</span></h2>
                        <h2 style="padding:15px;"> <span id="MSSQL" class="badge badge-secondary">MSSQL</span></h2>
                        <h2 style="padding:15px;"> <span id="Management" class="badge badge-secondary">Management</span></h2>
                        <h2 style="padding:15px;"> <span id="Marketing" class="badge badge-secondary">Marketing</span></h2>
                        <h2 style="padding:15px;"> <span id="MongoDB" class="badge badge-secondary">MongoDB</span></h2>
                        <h2 style="padding:15px;"> <span id="MySQL" class="badge badge-secondary">MySQL</span></h2>
                        <h2 style="padding:15px;"> <span id="NoSQL" class="badge badge-secondary">NoSQL</span></h2>
                        <h2 style="padding:15px;"> <span id="PostgreSQL" class="badge badge-secondary">PostgreSQL</span></h2>
                        <h2 style="padding:15px;"> <span id="Redis" class="badge badge-secondary">Redis</span></h2>
                        <h2 style="padding:15px;"> <span id="SQL" class="badge badge-secondary">SQL</span></h2>
                        <h2 style="padding:15px;"> <span id="Social Media" class="badge badge-secondary">Social Media</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
