<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Poltician Voting Classifier</title>
    {% include 'icon.html' %}

    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-social.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">

</head>

<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/scripts.js')}}"></script>


<style>
    #Title {
        background-image: url(static/refs/home_background_bluish.jpg);
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
    }
</style>

<body>
    <div class="container-fluid">
        <div id="Header" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="col-md-12">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#JOBTAG_IO">Project</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="Content" class="container-fluid">
        <div id="Title" class="row">
            <div id="JOBTAG_Title_Text" class="col-md-12">
                <h2 style="color:black;">
                    Poltician Voting Classifier
                </h2>
                <p style="max-width: 500px; color:black;">
                    We takes past bills and clustering them based on the topics they contain. We take those clusters and attached them to a politicains voting record. From this we trained a support vector classifier (SVC) to predict how they are
                    going to vote on a test bill. This model takes into account all voting records of the politican in question.
                </p>
            </div>
        </div>
        <div id="JOBTAG_IO" class="row">
            <div class="col-md-4">
                <h3>
                    Data Input
                </h3>
                <p>
                    Enter a Sentator, bill information, and a bill abstract
                </p>
                <div class="form-group">
                    <div id="VOTE_name" class="col-md-12">
                        <div> <strong> Sentator </strong> </div>
                        <label class="radio-inline"><input type="radio" name="name" value="Bernie Sanders" checked> Bernie Sanders</label>
                        <label class="radio-inline"><input type="radio" name="name" value="Elizabeth Warren"> Elizabeth Warren</label>
                        <label class="radio-inline"><input type="radio" name="name" value="Kamala Harris"> Kamala Harris</label>
                        <label class="radio-inline"><input type="radio" name="name" value="John Thune"> John Thune</label>
                        <label class="radio-inline"><input type="radio" name="name" value="Mike Rounds"> Mike Rounds</label>
                        <label class="radio-inline"><input type="radio" name="name" value="Lindsey Graham"> Lindsey Graham</label>
                    </div>
                    <div id="padding"></div>
                    <div id="VOTE_sponsers" class="col-md-12">
                        <div> <strong> Sponsers' Parties </strong> </div>
                        <label class="checkbox-inline"><input type="checkbox" name="Indpendent" value="" checked> Indpendent</label>
                        <label class="checkbox-inline"><input type="checkbox" name="Democratic" value=""> Democratic</label>
                        <label class="checkbox-inline"><input type="checkbox" name="Republican" value=""> Republican</label>
                    </div>
                    <div id="padding"></div>
                    <div class="col-md-12">
                        <div> <strong> Number of Sponsers </strong> </div>
                        <input class="form-control" id="VOTE_sponser_num" rows="1" cols="1" type="number" required="required" value=1></input>
                        <strong> Number of Previous Proposals </strong>
                        <input class="form-control" id="VOTE_history_num" rows="1" cols="1" type="number" required="required" value=0></input>
                    </div>
                    <div class="col-md-12">
                        <div> <strong> Bill Type </strong> </div>
                        <select id="VOTE_bill_type" class="form-control">
                            <option>B</option>
                            <option>CR</option>
                            <option>JR</option>
                            <option>R</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <div> <strong> Status </strong> </div>
                        <select id="VOTE_status" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div id="padding"></div>
                    <div id="VOTE_body" class="col-md-12">
                        <div> <strong> Body </strong> </div>
                        <label class="radio-inline"><input type="radio" name="body" value="Senate" checked> Senate </label>
                        <!-- <label class="radio-inline"><input type="radio" name="body" value="House"> House </label> -->
                    </div>
                    <div id="padding"></div>
                    <button class="btn btn-primary" class="form-control" type="submit" onclick="submit_bill_features()">Submit</button>
                </div>
            </div>
            <div id="bill_abstract" class="col-md-4">
                <textarea class="form-control" id="VOTE_bill" rows="20" required="required" placeholder="Enter Bill Abstract"></textarea>
            </div>
            <div id="Results" class="col-md-4">
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" style="width:0%"></div>
                </div>
                <div class=row>
                    <h2 id="JOBTAG_padding"> <span id="vote_yes" class="badge badge-primary">Vote Yes</span></h2>
                    <h2 id="JOBTAG_padding"> <span id="vote_no" class="badge badge-primary">Vote No</span></h2>
                </div>
                <div id="poltician_feature_importance"><strong> Feature Importance </strong></div>
            </div>
        </div>
    </div>

</body>

</html>
