<head>
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <!-- navigation bar -->
    <div class="navigation-bar">
        <li><a href="../index.html">Home</a></li>
        <li><a href="About.asp">About</a></li>
        <li><a href="Projects.asp">Projects</a></li>
        <li><a href="Contact.asp">Contact</a></li>
        <li><a href="Resume.asp">Resume</a></li>
    </div>

    <!-- Input text area -->
    Input any number between 0 and 6
    <form method="POST">
        <input type="number" name="quantity" min="0" max="6" name="n1">
        <input type="number" name="quantity" min="0" max="6" name="n2">
        <input type="number" name="quantity" min="0" max="6" name="n3">
        <input type="number" name="quantity" min="0" max="6" name="n4">
        <br>
        <input name="Description" type="submit">
        <input name="Random" type="submit" value="Random">
        </br>
    </form>



</body>
